* {
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-weight: bold;
}

nav {
    position: fixed;
    top: 0;
    z-index: 99;
    background-color: #0082e6;
    height: 80px; /* LA MISMA QUE EL #logoID {LINE-HEIGHT... Y label.logo{HEIGHT... Y li.list{ LINE-HEIGHT:... */ /* AJUSTABLE */
    width: 100%;
}

label.logo {
    width: auto;
    display: inline-block;
    height: 80px; /* AJUSTABLE */
    padding: 0 100px;
}

#logoID {
    display: inline-block;
    color: white;
    font-size: 35px;
    line-height: 80px; /* LA MISMA QUE HEIGHT DEL NAV */ /* AJUSTABLE */
    padding: 0px 13px;
    font-weight: bold;
    border-radius: 4px;
    height: 80px;
}

#logoImg {
    display: inline-block;
    height: 80px;
    padding: 6px 0px;
}

#logoImgRight {
    display: inline-block;
    height: 80px;
}

#logoImgLeft {
    display: inline-block;
    height: 80px
}

nav ul#menuList {
    float: right;
    margin-right: 20px; /* AJUSTABLE */
}

nav ul li.list {
    display: inline-block;
    line-height: 80px; /* LA MISMA QUE HEIGHT DEL NAV */ /* AJUSTABLE */
    margin: 0 10px;
}

li.list a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 4px;
    text-transform: uppercase; /* me gusta bastante este... TRANSFORMA EN MAYUSCULAS */
    border-radius: 3px;
}

a.active, li.list a:hover {
    background-color: #1b9bff;
    transition: .5s;
}


/* ------------------------------------------------- HAMBURGUESA -------------------------------------------------- */


.bars__menu {
    display: none;
    width: 30px; /* Increase the width for better visibility */
    height: 30px; /* Increase the height for better visibility */
    position: fixed; /* Change to fixed so it's fixed on the screen */
    top: 28px;
    left: 85%;
    transform: translate(0, 0) scale(1.2); /* Reset the translate and scale */
    cursor: pointer;
    z-index: 101;
}

.bars__menu span {
    display: block;
    width: 100%;
    height: 2.1px; /* Increase the height for better visibility */
    background: white; /* Debe de cambiar a blanco cuando se haga click */ /* !!!!!!!!!!!!!!! */
    margin-top: 5px; /* Adjust the margin for better spacing */
    transform-origin: 0 0;
    transition: all 300ms;
    font-weight: bold;
}

.activeline1__bars-menu {
    transform: rotate(45deg) translate(-5px, 0px); /* Adjust the translation for better alignment */
}

.activeline2__bars-menu {
    opacity: 0;
}

.activeline3__bars-menu {
    transform: rotate(-45deg) translate(-5px, -0px); /* Adjust the translation for better alignment */
}

@media (max-width: 1217px) {

    nav {
        background-color: #0082e6;
        height: 80px; /* LA MISMA QUE EL #logoID {LINE-HEIGHT... Y label.logo{HEIGHT... Y li.list{ LINE-HEIGHT:... */ /* AJUSTABLE */
        width: 100%;
        text-align: center;
    }


    #logoID {
        display: inline-block;
        color: white;
        font-size: 35px;
        line-height: 80px; /* LA MISMA QUE HEIGHT DEL NAV */ /* AJUSTABLE */
        padding: 0px 13px;
        font-weight: bold;
        border-radius: 4px;
        height: 80px;
    }

    /* CAMBIO EN EL BURGER MENU */


    .bars__menu {
        display: inline-block;
        left: 90%;
    }

    nav ul#menuList {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #2c3e50;
        top: 80px;
        left: 100%; /* AJUSTAR */
        text-align: center;
        transition: all .5s;
    }

    nav ul#menuList.active {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #2c3e50;
        top: 80px;
        left: 0%; /* AJUSTAR */
        text-align: center;
        transition: all .5s;
    }

    nav ul li.list {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    li.list a {
        font-size: 20px;
    }

    li.list a:hover, li.list a:active{
        background: none;
        color: #0082e6;
    }

}

@media (max-width: 1376px) {
    label.logo {
        padding: 0 50px;
    } 
}

@media (max-width: 1277px) {
    label.logo {
        padding: 0 20px;
    } 
}


/* -------------------------------------------------- INDEX ---------------------------------------------- */

#article1 {
    margin-top: 100px;
}

#article1 section {
    display: inline-block;
    border: 2px solid #0082e6;
    margin: 0 5vw;
    padding: 7px;
    border-radius: 10px;
}

#article1 h2 {
    font-size: 15px;
}

#article1 b {
    font-size: 15px;
}

#article1 p {
    font-size: 15px;
}

/* ---------------------------------------- BUSCADOR --------------------------------------------------------- */

#inputDIV {
    text-align: center ;
}

#buscador {
    font-size: 20px;
    display: block;
    width: 30vw;
    height: 30px;
    margin: 20px 35vw;
    border-bottom: 2px solid black;
    border-radius: 4px;
}

#buscador::placeholder {
    font-size: 20px;
}


#listaBuscada {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.wire-elements {
    width: 200px;
    height: 190px;

    border-radius: 10px;
    margin: 5px 10px;
    border: 2px solid black;

    /* text-align: center; */

    transition: .5s all ease-out;
}

.wire-elements img {
    width: 187px;
    height: 122.55px;
    margin: 20px 5px 0 5px; 
}

.wire-elements p {
    font-size: 16px;
    margin: 2px 2px;
}

.wire-elements b {
    display: none;
}

.wire-elements:hover {
    transform: scale(1.05);
}

.filtro {
    display: none;
}

/* -------------------------------------------------- COAXIAL --------------------------------------------------- */

.especial {
    text-align: center;
}

#article1_Coaxial {
    margin-top: 100px;
}

#article1_Coaxial section#article1_Coaxial {
    display: inline-block;
    border: 2px solid #0082e6;
    margin: 0 10vw;
    padding: 7px;
    border-radius: 10px;
}

#article1_Coaxial h2 {
    font-size: 15px;
}

#article1_Coaxial b {
    font-size: 15px;
}

#article1_Coaxial p {
    font-size: 15px;
}

#section2_Coaxial {
    margin-top: 30px;
}

h2#Inicio-cables-Coaxiales {
    font-size: 20px;
    padding: 0 0 0 30px;
    border-bottom: 2px solid #0082e6;
    color: #0082e6;
}

.elemento1 {
    display: flex;
}

.elemento-contenedor-imagen-Coaxial1 {
    margin: 10px 10px;
    width: 185px;
    height: 185px;
    border: 2px solid rgb(2, 46, 244);
    border-radius: 10px;
}

.elemento-contenedor-imagen-Coaxial1 img {
    display: inline-block;
    text-align: center;
    width: 180px;
    border-radius: 10px;
}

.PRECIO-COAXIAL-1 p {
    display: inline-block;
    text-align: center;
    width: 180px;
    border-radius: 10px;
    margin-top: 175px;
}

.elemento2 {
    display: flex;
}

.elemento-contenedor-imagen-Coaxial2 {
    margin: 10px 10px;
    width: 185px;
    height: 185px;
    border: 2px solid rgb(2, 46, 244);
    border-radius: 10px;
}

.elemento-contenedor-imagen-Coaxial2 img {
    display: inline-block;
    text-align: center;
    width: 180px;
    border-radius: 10px;
}

.PRECIO-COAXIAL-2 p {
    display: inline-block;
    text-align: center;
    width: 180px;
    border-radius: 10px;
    margin-top: 175px;
}

.elemento3 {
    display: flex;
}

.elemento-contenedor-imagen-Coaxial3 {
    margin: 10px 10px;
    width: 185px;
    height: 185px;
    border: 2px solid rgb(2, 46, 244);
    border-radius: 10px;
}

.elemento-contenedor-imagen-Coaxial3 img {
    display: inline-block;
    text-align: center;
    width: 180px;
    border-radius: 10px;
}

.PRECIO-COAXIAL-3 p {
    display: inline-block;
    text-align: center;
    width: 180px;
    border-radius: 10px;
    margin-top: 175px;
}

.elemento4 {
    display: flex;
}

.elemento-contenedor-imagen-Coaxial4 {
    margin: 10px 10px;
    width: 185px;
    height: 185px;
    border: 2px solid rgb(2, 46, 244);
    border-radius: 10px;
}

.elemento-contenedor-imagen-Coaxial4 img {
    display: inline-block;
    text-align: center;
    width: 180px;
    border-radius: 10px;
}

.PRECIO-COAXIAL-4 p {
    display: inline-block;
    text-align: center;
    width: 180px;
    border-radius: 10px;
    margin-top: 175px;
}

.elemento-contenido-Coaxial1 h2 {
    text-align: center;
    margin: 10px 0;
    font-size: 24px;
}

.elemento-contenido-Coaxial1 p {
    margin: 10px 30px;
    font-size: 24px;
}

.elemento-contenido-Coaxial2 h2 {
    text-align: center;
    margin: 10px 0;
    font-size: 24px;
}

.elemento-contenido-Coaxial2 p {
    margin: 10px 30px;
    font-size: 24px;
}

.elemento-contenido-Coaxial3 h2 {
    text-align: center;
    margin: 10px 0;
    font-size: 24px;
}

.elemento-contenido-Coaxial3 p {
    margin: 10px 30px;
    font-size: 24px;
}

.elemento-contenido-Coaxial4 h2 {
    text-align: center;
    margin: 10px 0;
    font-size: 24px;
}

.elemento-contenido-Coaxial4 p {
    margin: 10px 30px;
    font-size: 24px;
}

#section3_Conectores {
    margin-top: 30px;
}

h2#Inicio-Conectores {
    font-size: 20px;
    padding: 0 0 0 30px;
    border-bottom: 2px solid #0082e6;
    color: #0082e6;
}

.elemento {
    display: flex;
}

.elemento-contenedor-imagen {
    margin: 10px 10px;
    width: 185px;
    height: 185px;
    border: 2px solid rgb(2, 46, 244);
    border-radius: 10px;
}

.elemento-contenedor-imagen img {
    display: inline-block;
    text-align: center;
    width: 180px;
    border-radius: 10px;
}

.elemento-contenido h2 {
    text-align: center;
    margin: 10px 0;
    font-size: 24px;
}

.elemento-contenido p {
    margin: 10px 30px;
    font-size: 24px;
}

.elemento-contenido-2 h2 {
    text-align: center;
    margin: 10px 0;
    font-size: 24px;
    margin-left: 210px;
}

.elemento-contenido-2 p {
    margin: 10px 30px;
    font-size: 24px;
    text-align: center;
    margin-left: 200px;
}

.PRECIO-COAXIAL p {
    display: inline-block;
    text-align: center;
    width: 180px;
    border-radius: 10px;
    margin-top: 175px;
}














/* ------------------------------------------------ PAR TRENZADO --------------------------------------------------*/

#article1_parTrenzado {
    margin-top: 100px;
}

#article1_parTrenzado section#article1_parTrenzado {
    display: inline-block;
    border: 2px solid #0082e6;
    margin: 0 5vw;
    padding: 7px;
    border-radius: 10px;
}

#article1_parTrenzado h2 {
    font-size: 15px;
}

#article1_parTrenzado b {
    font-size: 15px;
}

#article1_parTrenzado p {
    font-size: 15px;
}


#section2_parTrenzado {
    margin-top: 30px;
}

h2#Inicio-cables-par-trenzado {
    font-size: 20px;
    padding: 0 0 0 30px;
    border-bottom: 2px solid #0082e6;
    color: #0082e6;
}

.elemento {
    display: flex;
}

.elemento-contenedor-imagen {
    margin: 10px 10px;
    width: 185px;
    height: 185px;
    border: 2px solid rgb(2, 46, 244);
    border-radius: 10px;
}

.elemento-contenedor-imagen img {
    display: inline-block;
    text-align: center;
    width: 180px;
    border-radius: 10px;
}

.elemento-contenido h2 {
    text-align: center;
    margin: 10px 0;
    font-size: 24px;
}

.elemento-contenido p {
    margin: 10px 30px;
    font-size: 24px;
}















/* -------------------------------------------------- FIBRA ÓPTICA --------------------------------------------------*/



#article1_fo {
    margin-top: 100px;
}

#article1_fo section#article1_fo {
    display: inline-block;
    border: 2px solid #0082e6;
    margin: 0 5vw;
    padding: 7px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}
/* #article1_fo section#article1_fo:hover { 
    transform: scale(1.1);
    cursor: pointer;
    }
 */
#article1_fo h2 {
    font-size: 15px;
}

#article1_fo b {
    font-size: 15px;
}

#article1_fo p {
    font-size: 15px;
}


#section2_fo {
    margin-top: 30px;
}

h2#Inicio-cables-fo {
    font-size: 20px;
    padding: 0 0 0 30px;
    border-bottom: 2px solid #0082e6;
    color: #0082e6;
}

.elemento {
    display: flex;
}

.elemento-contenedor-imagen {
    margin: 10px 10px;
    width: 185px;
    height: 185px;
    border: 2px solid rgb(2, 46, 244);
    border-radius: 10px;
}

.elemento-contenedor-imagen img {
    display: inline-block;
    text-align: center;
    width: 180px;
    border-radius: 10px;
}

.elemento-contenido h2 {
    text-align: left;
    margin: 10px 0;
    font-size: 24px;
    margin-left: 30px;
    transition: transform 0.3s ease;
}
/* .elemento-contenido h2:hover {
    transform: scale(1.05);
    cursor: pointer;
    color: #0082e6;
} */

.elemento-contenido p {
    margin: 10px 30px;
    font-size: 24px;
}











/* -------------------------------------------------- SOBRE NOSOTROS --------------------------------------------------*/





/* .TextoContenedor{
     margin: 0 auto;
 } */
 







/* ---------------------------------- FOOTER (igual en todas las páginas) ------------------------------------------ */